* {
    font-family: 'Open Sans';
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.demo-img {
    width: 30%;
    height: auto;
}

.update {
    position: fixed;
    bottom: 16px;
    border-radius: 8px;
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    height: auto;
    background-color: blanchedalmond;
    border: 1px solid #fefefe;
}

.update.hide {
    display: none;
}

.update.show {
    display: flex;
}

.update-text {
    margin-right: 24px;
}

.update-btn {
    border: 1px solid #dffdff;
    background-color: beige;
    color: blue;
    padding: 5px;
    cursor: pointer;
}